In [4]:
import pandas as pd

# Load datasets
customers = pd.read_csv('customers.csv')
products = pd.read_csv('products.csv')
ratings = pd.read_csv('ratings.csv')
orders = pd.read_csv('orders.csv')

In [5]:
# Merge ratings with products
product_ratings = pd.merge(ratings, products, on='product_id', how='inner')

# Merge orders with product_ratings
order_details = pd.merge(orders, product_ratings, on=['customer_id', 'product_id'], how='inner')

# Convert order_date to datetime
order_details['order_date'] = pd.to_datetime(order_details['order_date'])

In [10]:
# Filter orders for the last month
last_month_orders = order_details[order_details['order_date'].dt.month != (pd.Timestamp.now() - pd.DateOffset(months=1)).month]

# Calculate revenue for each product
product_revenue = last_month_orders.groupby(['product_id', 'product_name'])['price'].sum().reset_index()

# Calculate units sold for each product
product_units_sold = last_month_orders.groupby(['product_id', 'product_name'])['quantity'].sum().reset_index()

# Find top performing products in terms of revenue
top_products_revenue = product_revenue.sort_values(by='price', ascending=False).head(10)

# Find top performing products in terms of units sold
top_products_units_sold = product_units_sold.sort_values(by='quantity', ascending=False).head(10)

In [14]:
# Identify top clients for the last month
top_clients = last_month_orders.groupby(['customer_id', 'name'])['price'].sum().reset_index()
top_clients = top_clients.rename(columns={'price': 'total_spent'})
top_clients = top_clients.sort_values(by='total_spent', ascending=False).head(10)

,order_id,customer_id,product_id,order_date,quantity,rating,product_name,price,category
0,24,32,30,2023-09-16 08:39:23.971834,1,5,Strandmon Wing Chair,82,Chairs
1,26,66,18,2023-08-06 08:39:23.971834,3,4,Skurup Ceiling Lamp,406,Lighting
2,29,36,21,2023-09-10 08:39:23.971834,3,2,Stockholm Mirror,496,Decor
3,246,36,21,2023-07-30 08:39:23.971834,4,2,Stockholm Mirror,496,Decor
4,31,47,16,2023-09-13 08:39:23.971834,3,1,Ranarp Lamp,482,Lighting
...,...,...,...,...,...,...,...,...,...
91,961,92,14,2023-08-26 08:39:23.971834,2,5,Ingolf Bar Stool,609,Chairs
92,965,24,24,2023-09-16 08:39:23.971834,2,2,Askvoll Wardrobe,184,Storage Solutions
93,986,32,37,2023-08-28 08:39:23.971834,3,4,Fredde Desk,857,Tables & Desks
94,987,7,48,2023-08-18 08:39:23.971834,3,4,Bestå TV Bench,920,Decor
95,990,31,3,2023-09-08 08:39:23.971834,3,4,Klippan Loveseat,639,Sofas & Armchairs

In [8]:
# Display results
print("Top performing products in terms of revenue:")
print(top_products_revenue)
print("\nTop performing products in terms of units sold:")
print(top_products_units_sold)
print("\nTop clients for the last month:")
print(top_clients)

Top performing products in terms of revenue:
Empty DataFrame
Columns: [product_id, product_name, price]
Index: []

Top performing products in terms of units sold:
Empty DataFrame
Columns: [product_id, product_name, quantity]
Index: []

Top clients for the last month:

NameError: name 'top_clients' is not defined